html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
ins, 
strong, 
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,  
tbody,
tfoot,
thead,
tr,
th,
main,
td,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font: 20px Inter;
	color: #333;
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

/*  Desig tokes  */
 :root {
    --headercolor: #303030;
    --informationcontent: #f5f5f5;
    --contentcolor:  #e6dada;
    --footercolor: #303030;
    /* tipografi colors */
    --headertitle: #ffffff;
    --headertexte: #ffffff;
    --informationmetrics: #000000;
    --informatiotext: #000000;
    --contenttitle: #000000;
    --contenttext: #000000;
    --footertitle: #ffffff;
    /* tipografi end\footer starter */
    --inputColor: #ffffff;
    --bottomcolor: #C07212;
    --bottomtextcolor: #ffffff;
 }
 /* Conteúdo */
 /* header */
header {
   background: var(--headercolor);
   padding: 200px 0 150px 60px;
}
h1 {
   font: 600 60px/120px Inter;
   color: var(--headertitle);
   text-align: left;
}
header p {
   font-size: 20px;
   color: var(--headertexte);
   text-align: left;
   font-weight: 200;
}
/* Aqui começa o menu informacional */
#informationalmenu {
   padding: 90px 0 60px 0;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: var(--informationcontent);
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   font-size: 20px;
   color: var(--informatiotext);
}  
.content strong {
   font: 600 40px/40px Inter;
   color: var(--informationmetrics);
}
/* Aqui começa o conteudo */
main {
   display: flex;
   justify-content: space-evenly;
   padding: 80px 0;
}
.content {
   margin: auto 0;
}
.content h3 {
   font: 500 40px Inter;
   margin-bottom: 50px;
}
.content p {
   font: 300 20px Inter;
}
/* Aqui começa o footer */
footer {
   padding: 90px 0;
   background-color: var(--footercolor);
   border: 1px solid transparent;
}
footer h3 {
   font: 700 30px Inter;
   text-align: center;
   color: var(--footertitle);
}
footer form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 40px 0 100px 0;
   text-align: center;
}
footer form input {
   width: 350px;
   height: 50px;
   border-radius: 15px;
   padding-left: 20px;
   background-color: var(--inputColor);
   border: 1px solid transparent;
}

footer button {
   width: 250px;
   height: 70px;
   border: 1px solid transparent;
   background-color: var(--bottomcolor);
   color: var(--bottomtextcolor);
   border-radius: 9px;
   text-align: center;
   font: 600 30px Inter;
   cursor: pointer;
}
/* efeitos do botão */
button:hover {
   transform: translateY(-10px);
   transition-duration: 0.6s;
   box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.308);
}